#буду тигнорироваться всефайлы и каталоги Thumbs.db
#внезависимости оттого,в каком каталоге они находятся
Thumbs.db

#будет игнорироваться каталог tmp
#вне зависимости оттого, в каком каталоге он находится
#слэш в конце указывает, что это каталог
tmp/

#будет игнорироваться относительно файла .gitignore
#чаще всего относительно всего проекта
/tmp/

#будут игнорироваться все файлы и каталоги с расширением .txt
#вне зависимости от того, в каком каталоге они находятся
*.txt

Thumbs.db
*.DS_Store
*.*_old*
_old, 
*.*_backup*
/tmp/
/BackUp/
Domaska-3-1-1.drawio
Domaska-3-2-1.drawio
Domaska-3-2-1(2).drawio
Domaska-3-2-2.drawio

Rabota_s_PostgreSQL_nastroyka_i_masshtabirovanie.pdf

команды psql.txt
postgres.txt
3-2-1.txt
3-3.txt

dvdrental.tar
!3.txt
BD 3-2-1-.sql

Script.sql
Script-.sql
Script-6.sql

Domaska-3-2-1-.png