#буду тигнорироваться всефайлы и каталоги Thumbs.db
#внезависимости оттого,в каком каталоге они находятся
Thumbs.db

#будет игнорироваться каталог tmp
#вне зависимости оттого, в каком каталоге он находится
#слэш в конце указывает, что это каталог
tmp/

#будет игнорироваться относительно файла .gitignore
#чаще всего относительно всего проекта
/tmp/

#будут игнорироваться все файлы и каталоги с расширением .txt
#вне зависимости от того, в каком каталоге они находятся
*.txt

Thumbs.db
*.DS_Store
*.*_old*
_old, 
*.*_backup*
/tmp/
Domaska-3-1-1.drawio
postgres.txt
Domaska-3-2-1.drawio
Domaska-3-2-2.drawio
команды psql.txt